<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.gs.calc"
    versionCode = "2"
    version     = "2.0.0" >

<!-- versionCode is optional and Android only -->

  <name>My Calculator</name>

  <description>
      A very simple calculator, which serves as an example.
  </description>

  <author href="https://build.phonegap.com" email="geerish.suddul@gmail.com">
      Geerish Suddul
  </author>

</widget>
